[raajGlobalProgress] {
	position: fixed;
	top: 0%;
	right: 0%;
	z-index: 10;
}

[raajGlobalProgressImg] {
    background-image: url('../images/progress.gif');
	height: 32px;
	width: 32px;
	float: left;
}

[raajGlobalProgressNbRequests] {
	float: left;
	margin-left: -16px;
	margin-top: 16px;
	font-size: 10.5px;
	padding: 0 4px;
}

[raajGlobalProgressMessage] {
	vertical-align: middle;
	line-height: 32px;
	margin-right: 4px;
	margin-left: 4px;
}